/* =======================
   Add all custom CSS here 
   ======================= */
.utility-nav {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.utility-nav a,
#contacts-section a {
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        border-bottom: 0;
    }
span.utility-nav-link {
    display: inline-block;
    padding: 1rem 0;
}
span.utility-nav-link::after {
    content: "\2022";
    padding: 0 14px;
    color: #fff !important;
}
span:last-child.utility-nav-link::after {
    content: "" !important;
}
.utility-nav i.fa.fa-bars {
    color: #fff;
}
.u-header__section.u-header__section--light.g-bg-white {
    background-color: #fff;
}
.logo-rs {
    height: 120px;
}
li.nav-item.highlight {
    background: #eec625;
    border-radius: 28px;
    padding: 0 18px;
}
li.nav-item.highlight:hover {
    background: #dfae23;
}
li.nav-item.highlight a {
    color: #fff !important;
}
.dzsparallaxer.use-loading.loaded .dzsparallaxer--target {
    opacity: 0.3;
    visibility: visible;
}
.transform-skew {
    transform: skew(0deg, 4deg);
    position: relative;
    z-index: 100;
}
.transform-straighten {
    transform: skew(0deg, -4deg);
}
.transform-skew-low-right {
    transform: skew(0deg, -4deg);
    position: relative; 
    z-index: 100;
}
.transform-straighten-low-right {
    transform: skew(0deg, 4deg);
}
/* Instagram Feed */
div.instagallery {
    height: 255px;
    overflow: hidden;
    margin-bottom: 2rem;
}
/* Posts Feed */
span.magazine-badge.label-red {
    top: 0;
    left: 0;
    color: #fff;
    padding: 2px 8px;
    position: absolute;
    background: #000;
}
.magazine-news-img img {
    max-width: 290px;
    margin-bottom: 1rem;
}
.publish-date {
    margin: 1rem 0;
}
/*------------------------------------
  bootstrap.min.css
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}
.h1, h1 {
    font-size: 3rem;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}
blockquote {
    font-family: "Lora", Times New Roman, Georgia, serif;
}
/*------------------------------------
  unity-core.css
------------------------------------*/
/* Default Styles */
body {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    background-color: #dfae23;
}
nav a, nav a:hover {
    text-decoration: none;
    border-bottom: 0;
}
a {
    color: #eec625;
    text-decoration: none;
    border-bottom: 1px solid #eec625;
}
a:focus, a:hover {
    color: #dfae23;
    text-decoration: none;
    border-bottom: 1px solid #eec625;
}
.g-py-100 a:focus,
.g-py-100 a:hover {
    color: #dfae23;
    text-decoration: none;
    border-bottom: 1px solid #dfae23;
}
.g-bg-black a,
.g-bg-yellow-v2 a,
.g-bg-gray-light-v2 a,
.g-bg-primary a {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}
.g-bg-black a:hover,
.g-bg-yellow-v2 a:hover,
.g-bg-gray-light-v2 a:hover,
.g-bg-primary a:hover {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    opacity: 1;
}
.g-py-100 a.js-fancybox {
    border-bottom: 0;
}
article a.g-color-main {
    color: #eec625 !important;
    font-weight: 700;
}
/*  Highlight Color */
::-moz-selection {
  color: #fff;
  background-color: #dfae23; }

::selection {
  color: #fff;
  background-color: #dfae23; }

.g-bg-primary ::-moz-selection {
  color: #dfae23;
  background-color: #fff; }

.g-bg-primary ::selection {
  color: #dfae23;
  background-color: #fff; }
/*------------------------------------
  unity-globals.css
------------------------------------*/
.hs-sub-menu.g-brd-primary {
    border-color: #eec625 !important;
}
.g-brd-primary {
    border-color: #fff !important;
}
.g-bg-primary {
   background-color: #eec625 !important;
}
.g-color-primary,
.g-color-primary--hover:hover {
    color: #eec625 !important;
}
.g-bg-white-opacity-0_7--after::after {
    background-color: rgba(0, 0, 0, 0) !important;
}
section.g-px-0 {
    background-color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 0;
    position: relative;
}
@media (min-width: 992px) {
    .g-brd-left--lg {
        border-left: solid 3px #fff !important;
    }
}
@media (min-width: 0) {
    .g-pa-100 {
        padding: 0.5rem !important;
    }
    .g-pa-25 {
        padding: 0 !important;
    }
    .g-px-5 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (max-width: 767.98px) {
    span.utility-nav-link {
        display: block;
        padding: 0.75rem 0;
    }
    span.utility-nav-link::after {
        content: "";
        padding: 0;
    }
}
/*------------------------------------
  unity-components.css
------------------------------------*/
.u-header {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 1.25rem;
    z-index: 501;
}
.u-go-to-v1:hover, .u-go-to-v1:focus:hover {
    text-decoration: none;
    color: #fff;
    background-color: #eec625;
}
.u-btn-primary {
    background: #eec625;
    border-radius: 28px !important;
    padding: 12px 18px;
    box-shadow: 0 2px 0 0 #dfae23;
}
.u-btn-primary:hover, .u-btn-primary.active {
        border-color: #dfae23;
        background-color: #dfae23;
}
.g-bg-primary a.btn-white,
.g-bg-primary a.btn-white:hover {
    border-bottom: 0;
}
.u-btn-primary.btn-white,
.u-btn-primary.btn-white:hover {
    background: #dfae23;
    border-radius: 28px !important;
    padding: 12px 18px;
    box-shadow: 0 2px 0 0 #dfae23;
}
.u-heading-v2-3--bottom::after, .u-heading-v2-3--top::before {
    width: 5rem;
    border-top-width: 4px;
}
